* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}
/*Navigation*/

header {
  display: flex;
  align-items: center;
  padding: 1rem;
  justify-content: space-between; /*positioned */
  margin-right: 2rem;
}

.header p {
  font-family: "Italiana", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;

  margin: 0;
}
ul {
  font-family: "Raleway", serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  list-style: none;
  padding-left: 0;
}
li {
  margin-left: 4rem;
}

a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: gray;
}
@media screen and (max-width: 520px) {
  header,
  ul {
    flex-direction: column;
    align-items: start;
  }
  ul {
    margin-top: 0;
  }
  li {
    margin-left: 0;
    margin-bottom: 1rem;
  }
}
/*HERO*/
/*Main*/
/*footer*/
